body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#heroCarousel .carousel-item img {
    height: 450px !important; 
    
    object-fit: contain !important; 
    
    background-color: #f8f9fa !important;
    
    width: 100% !important;
}

@media (max-width: 768px) {
    #heroCarousel .carousel-item img {
        height: 250px !important;
    }
}
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-image: none !important; 
    
    color: #FF0000 !important; 
    
    font-size: 80px !important; 
    font-weight: bold !important;
    
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.carousel-control-prev, 
.carousel-control-next {
    top: 30% !important; 
    height: 10% !important;
}
.insta:hover {
    color: #E1306C !important; 
}

.tiktok:hover {
    color: #00f2ea !important;
}

.youtube:hover {
    color: #FF0000 !important;
}
#heroCarousel .carousel-item img {
    height: 450px !important; 
    width: 100% !important;
    object-fit: cover !important; 
    transition: all 0.3s ease;
}
.zoom-foto {
    transform: scale(1.2); 
}

.subir-foto {
    object-position: center top !important; 
}

.bajar-foto {
    object-position: center bottom !important;
}

.ajuste-joya {
    transform: scale(1.8); 
    object-position: center center !important;
}
.list-group-item.active {
    background-color: transparent !important;
    color: #000 !important;
    border-color: rgba(0,0,0,.125) !important;
}

.list-group-item-action:hover {
    background-color: #0d6efd !important; 
    color: white !important;              
    transition: 0.3s;                     
}

.list-group-item-action:active {
    background-color: #0a58ca !important; 
    color: white !important;
}
.scroll-container {
    height: 400px; 
    overflow-y: scroll;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.scroll-container::-webkit-scrollbar {
    width: 6px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #0d6efd; 
    border-radius: 10px;
}
.card-img-top {
    height: 250px;
    object-fit: cover;}